/* Add any special fonts css for export3.html (mainly PDF export) */
@font-face {
    font-family: 'PingFang';
    src: url('./PingFang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}